<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47961561723-oo11sm1ikd0ptd0j3a6ddr5ef2khmhoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47961561723-oo11sm1ikd0ptd0j3a6ddr5ef2khmhoe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47961561723-mk4dq0h9jtco1glud1g8a722bkpf30l7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJIsd1BrzjsZbsEAoF4lYoyQlCwP5XA9w</string>
	<key>GCM_SENDER_ID</key>
	<string>47961561723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dogWalkerDemo</string>
	<key>PROJECT_ID</key>
	<string>dog-walker-app-96a12</string>
	<key>STORAGE_BUCKET</key>
	<string>dog-walker-app-96a12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47961561723:ios:74d075e97aef25202020de</string>
</dict>
</plist>